body{

    margin:0;
    padding:0;

    background:#f5f5f5;

    font-family:
    "Malgun Gothic",
    sans-serif;

}

.container{

    max-width:450px;

    margin:40px auto;

    background:#fff;

    padding:30px;

    border-radius:15px;

    box-shadow:0 5px 20px rgba(0,0,0,.15);

}

h1{

    text-align:center;

    color:#a52a2a;

    margin-bottom:5px;

}

h2{

    text-align:center;

    color:#666;

    margin-bottom:30px;

}

.searchBox{

    display:flex;

    gap:10px;

}

.searchBox input{

    flex:1;

    padding:12px;

    font-size:16px;

    border:1px solid #ccc;

    border-radius:8px;

}

.searchBox button{

    width:90px;

    border:none;

    background:#8B0000;

    color:white;

    border-radius:8px;

    cursor:pointer;

    font-size:16px;

}

.searchBox button:hover{

    background:#a40000;

}

#resultCard{

    margin-top:25px;

    padding:20px;

    border-radius:10px;

    background:#fafafa;

    border:1px solid #ddd;

    min-height:180px;

    line-height:1.8;

}

#resultCard{

    max-width:420px;

    margin:30px auto;

    background:#ffffff;

    border-radius:20px;

    box-shadow:0 10px 30px rgba(0,0,0,.15);

    padding:25px;

    text-align:center;

}

#resultCard h2{

    margin:10px 0;

    font-size:28px;

    color:#222;

}

#resultCard .discount{

    font-size:60px;

    font-weight:bold;

    color:#ff3b30;

    margin:20px 0;

}

#resultCard .status{

    font-size:22px;

    font-weight:bold;

    margin:15px 0;

}

#resultCard .guide{

    color:#ff6600;

    font-weight:bold;

}
